src/main/mule/acme-flights-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="acme-flights-api-main">
        <http:listener config-ref="acme-flights-api-httpListenerConfig" path="/api/acme-flights/*" doc:name="/api/acme-flights">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <logger level="DEBUG" doc:name="HTTP Attributes" doc:id="24306b6c-22f4-4cbd-92d9-56677e1b5b10" message="#[attributes]" />
        <apikit:router config-ref="acme-flights-api-config" doc:name="ACME Flights API"/>
        <error-handler ref="global-error-handler" />
    </flow>
    <flow name="acme-flights-api-console">
        <http:listener config-ref="acme-flights-api-httpListenerConfig" path="/console/*" doc:name="/api/acme-flights">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="acme-flights-api-config" doc:name="ACME Flights API"/>
        <error-handler ref="global-error-handler" />
    </flow>
</mule>
