src/main/mule/amend-flight-price.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="post:\amend-price:application\json:acme-flights-api-config">
        <set-variable value="#[payload]" doc:name="Payload" doc:id="d6693e13-4850-4e1f-bd24-5784bb07ab09" variableName="data"/>
		<set-variable value='#[attributes.queryParams."new-price"]' doc:name="New Price" doc:id="0ee71afc-cb4a-46d8-a91a-56cd3d703c28" variableName="price"/>
		<try doc:name="Try" doc:id="77c2563a-67e2-4d4e-b94b-8b0a44742470" >
			<db:select doc:name="Select" doc:id="31259b47-f7f6-4f2a-b48a-48bb2050cbec" config-ref="Database_Config">
				<db:sql ><![CDATA[SELECT COUNT(*) AS Count FROM airlines_sandbox.flights_SambitS 
WHERE Flight_Code = :code AND 
	  Airline_Name = :name AND 
	  Departure_Airport = :departure AND 
	  Destination_Airport = :destination AND 
	  DATE_FORMAT(Departure_Date, '%Y-%m-%d') = DATE_FORMAT(:date, '%Y-%m-%d') AND 
	  Seat_Availability = :seats AND 
	  Price = :price]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
	'code':vars.data."flight-code", 
	'name':vars.data."airlines-name", 
	'departure':vars.data."departure-airport", 
	'destination':vars.data."destination-airport", 
	'date':vars.data."departure-date", 
	'seats':vars.data."seats-available", 
	'price':vars.data.price
}]]]></db:input-parameters>
			</db:select>
			<choice doc:name="Valid Request" doc:id="85af5281-64eb-4ad2-a103-ca683aaa64b6" >
				<when expression="#[payload.Count[0] == 1]">
					<db:update doc:name="Update" doc:id="72217e1a-a9da-430f-b450-668b2da3e1f2" config-ref="Database_Config">
						<db:sql ><![CDATA[UPDATE flights_SambitS SET Price = :newPrice 
WHERE Flight_Code = :code AND 
	  Airline_Name = :name AND 
	  Departure_Airport = :departure AND 
	  Destination_Airport = :destination AND 
	  DATE_FORMAT(Departure_Date, '%Y-%m-%d') = DATE_FORMAT(:date, '%Y-%m-%d') AND 
	  Seat_Availability = :count AND
	  Price = :price]]></db:sql>
						<db:input-parameters ><![CDATA[#[{
	'code':vars.data."flight-code", 
	'name':vars.data."airlines-name", 
	'departure':vars.data."departure-airport", 
	'destination':vars.data."destination-airport", 
	'date':vars.data."departure-date", 
	'count':vars.data."seats-available", 
	'price':vars.data.price, 
	'newPrice':vars.price
}]]]></db:input-parameters>
					</db:update>
					<choice doc:name="Choice" doc:id="1b555479-67f6-4218-b339-60cfb4248d0e">
						<when expression="#[payload.affectedRows &gt; 0]">
							<db:select doc:name="Select" doc:id="0eaae6c7-2330-43aa-beed-ebf4ef304385" config-ref="Database_Config">
						<db:sql><![CDATA[SELECT Flight_Code AS "flight-code", Airline_Name AS "airlines-name", Departure_Airport AS "departure-airport", Destination_Airport AS "destination-airport", Departure_Date AS "departure-date", Aircraft_Type AS "aircraft-type", Seat_Availability AS "seats-available", Price AS price FROM airlines_sandbox.flights_SambitS 
WHERE Flight_Code = :code AND 
	  Airline_Name = :name AND 
	  Departure_Airport = :departure AND 
	  Destination_Airport = :destination AND 
	  DATE_FORMAT(Departure_Date, '%Y-%m-%d') = DATE_FORMAT(:date, '%Y-%m-%d') AND 
	  Price = :price]]></db:sql>
						<db:input-parameters><![CDATA[#[{
	'code':vars.data."flight-code", 
	'name':vars.data."airlines-name", 
	'departure':vars.data."departure-airport", 
	'destination':vars.data."destination-airport", 
	'date':vars.data."departure-date", 
	'price':vars.price
}]]]></db:input-parameters>
					</db:select>
							<ee:transform doc:name="Success Response" doc:id="d09b2058-c3da-4f6c-81bf-dd193601acd3">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	status: "success",
	details: payload[0]
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
						</when>
						<otherwise >
							<ee:transform doc:name="Error Payload" doc:id="9e5b27fb-bd2d-459d-9fd7-5a38ac75e6fe" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status: 'failure',
	cause: {
		errorType: "DB Update!!",
		errorDescription: "No records were updated based on search criteria"
	}
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<logger level="ERROR" doc:name="Error Payload" doc:id="0ccae35b-027b-4b3b-b31c-f14376d0d9ee" message="#[payload]"/>
							<set-variable value="#[500]" doc:name="Error Code" doc:id="f99ba345-7bda-4bed-89a0-96d207e7d9e5" variableName="httpStatus"/>
						</otherwise>
					</choice>
				</when>
				<otherwise >
					<ee:transform doc:name="Error Payload" doc:id="abe1c940-0711-44f1-9d22-b00941df8b0c" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status: 'failure',
	cause: {
		errorType: "Invalid Input!!",
		errorDescription: "Data provided in input does not match DB records"
	}
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<set-variable value="#[500]" doc:name="Error Code" doc:id="5fd23001-5419-4af5-b0b9-accee9fa0c11" variableName="httpStatus"/>
					<logger level="ERROR" doc:name="Error Payload" doc:id="20cc0153-3bb3-4b27-8d50-267ff39869b7" message="#[payload]"/>
				</otherwise>
			</choice>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c651ae9b-69a6-4e09-93aa-2daaa26dd68f" >
					<ee:transform doc:name="Error Payload" doc:id="a5beb045-c440-41b1-b0d8-8ffe1cebcfab" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status: 'failure',
	cause: {
		errorType: error.errorType,
		errorDescription: error.description
	}
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="ERROR" doc:name="Error Payload" doc:id="57098676-1a26-4557-9d8d-ff548b32dd08" message="#[payload]"/>
				</on-error-propagate>
			</error-handler>
		</try>
    
</flow>
    
</mule>
